---
mongo:
  host: "localhost"
  port: 27017
  user: "mongoadmin"
  password: "mongopassword"
  db: "name"

flask:
  port: 5000
  secret: "secret_value"
  debug: true

tokens:
  - "1"
  - "2"
  - "3"
  - "4"
  - "5"

mail:
  host: localhost
  port: 423
  username: local
  password: host
  email: example@example.com

getToken: "1234"

suggestions:
  email_receiver: example@example.com
  recaptcha_secret: "token"
